"*":
  "activate-power-mode":
    screenShake:
      enabled: false
  core: {}
  editor:
    fontSize: 13
    showIndentGuide: true
    softWrap: true
  emmet: {}
  linter:
    errorPanelHeight: 23
  "linter-sass-lint":
    configFile: "~/.atom/sass-lint.yml"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "sync-settings":
    _analyticsUserId: "7c77a36a-62c5-4fe1-9dd4-58bcfb6bbe8d"
    _lastBackupHash: "bb4307df32540049e7d2b7631ef4617ac14ca08c"
    gistId: "91571e68d4f4912bd6a3ddff3c70d722"
    personalAccessToken: "19b3d62e018527470cc1cdcce77d637da247e2ec"
    syncSettings: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
