SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="74:d0:2b:10:af:d5", NAME="eth0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="6c:71:d9:8a:1b:01", NAME="wlan0"
